[core]
    pager = delta
	excludesFile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[push]
    autoSetupRemote = true

[pull]
    rebase = false

[include]
    path = ~/.gitconfig.local

[pack]
	threads = 1
